body{
    background-color:#a9a9f8;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
}
.text-area-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}
.option-wrapper{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.fieldset-boxing{
    border: 5px solid black;
    display: inline;
}

#heading{
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

#text-box{
    width:90%;
    height: 400px;
    font-size: 14pt;
    font-family: monospace;
}
