body{
    background-image: url("../image/images/silverware.jpg");
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 100px;
    padding-right: 200px;
}
a{
    color: #A4A400;
}
ol{
    list-style-type: decimal;
}
ul li{
    list-style-image: url("../image/images/pie_icon.gif");
}
.number-list{
    list-style-type: decimal;
}
span{
    font-weight: bold;
}
blockquote{
    font-style: italic;
}
.heading{
    background-color: #F0F0F0;
    color: #A4A400 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:left;
    size: 18pt;
    font-weight: normal;
    text-decoration: underline;
    text-underline-position: below;
    display: initial;
}
.comment-div-color{
    background-color: rgba(248, 248, 109, 0.739);
}
.footer-div{
    text-align: right;
}

#main-heading{
    text-align: center;
    size: 22pt;
    font-weight: bold;
    margin-left: 150px;
    margin-right: 150px;
}
