.main {
    font-size: 18pt;
    max-width: -webkit-fill-available !important;
}

.header {
    padding: 16px;
    font-size: 20pt;
    background-color: rgb(162, 187, 196);
    font-weight: 600;
    justify-content: space-around;
}

.columns > * {
    height: 100px;
}

.menus {
    background-color: rgb(126, 146, 126);
}
.menus > * {
    color: white;
    border-right: 1px solid black;
}
.footer {
    padding: 16px;
    font-size: 20pt;
    color: white;
    justify-content: space-around;
    background-color: rgb(136, 179, 136);
    justify-content: space-around;
}

.dark-gray {
    background-color: rgb(202, 110, 110);
}
.column2 {
    background-color: rgb(167, 202, 202);
}

.dark-blue {
    background-color: rgb(110, 110, 168);
}