.main {
    display: grid;
    grid-template-rows: 80px 33px 154px 80px;
    font-size: 18pt;
}

.header {
    padding: 16px;
    font-size: 20pt;
    background-color: lightblue;
    font-weight: 600;
    text-align: center;
}

.menus {
    background-color: rgb(135, 139, 110);
    display: flex;
    flex-direction: row;
}
.menus > * {
    color: white;
    padding: 5px;
    border-right: 1px solid rgb(175, 119, 119);
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.columns > * {
    flex: 1;
}

.footer {
    padding: 16px;
    font-size: 20pt;
    color: white;
    text-align: center;
    background-color: rgb(97, 97, 160);
}

.dark-gray {
    background-color: rgb(143, 132, 132);
}
.column2 {
    flex: 2;
    background-color: darkcyan;
}

.dark-blue {
    background-color: rgb(154, 154, 201);
}

@media (max-width: 600px) {
    .columns > * {
        flex: 50%;
    }
}