<!DOCTYPE html>
    <html>
        <head>
            <title>Product List</title>
        </head>
        <body>
            <form action='/addToCart' method='POST'>
                <div><label>Name: <%= Name %>  </label>
                <div><label>Price: <%= Price %> </label></div>
                <input type="hidden" name="proName" value=" <%= Name %>" >
                <input type="hidden" name="proPrice" value=" <%= Price %>" >
                <div><label> <input type='submit' value='submit'></label></div>
            </form>
        </body>
    </html>
    